html,
body {
	@apply h-full overflow-hidden;
}

@font-face {
	font-family: "pixelated";
	src: url("./fonts/slkscrb.ttf") format("truetype");
	/* Add additional src rules for other file formats if necessary */
}
